*.*~
__pycache__/
*.pkl
data/
**/*.egg-info
.python-version
.idea/
.vscode/
.DS_Store
_build/

openai-education-spinningup-latest.pdf

backup_scriptsNlogs/
best_structures/backups/
backup_scripts/

dist/

gurobi.log

spinup/__init__.pyc

spinup/algos/__init__.pyc

spinup/algos/ddpg/__init__.pyc

spinup/algos/ddpg/ddpg.pyc

*.7z
